# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de Python que contienen secretos
*.env
.env

# Bases de datos locales (si aplica)
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.pytest_cache/

# base de datos
test.db